body {
  max-width: 1200px;
  margin: auto;

  /* Mise en place du background */
  background-image: url(../images/bg.jpg);
}

h1 {
  color: green;
  text-align: center;
}

.galerie {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  /* on centre les images */
  justify-content: center;
}

img {
  /* nous mettons en place des images en carré 10rem */
  width: 10rem;
  height: 10rem;

  /* nous utilisons le cover pour ne pas tronquer l'image  */
  object-fit: cover;
}

/* Nous appliquons le filtre sepia des qu'une image est survolée (:hover) UNIQUEMENT sur le reste des images qui ne sont pas survolées (:not(:hover)) */
.galerie:has(img:hover) img:not(:hover) {
  filter: sepia(1);
}

/* sur l'image survolée */
.galerie img:hover {
  /* nous enlevons le filtre sepia */
  filter: none;

  /* transform permet d'agrandir l'image */
  transform: scale(1.2);

  /* transition permet d'adoucir la transformation */
  transition: 1s;

  /* nous modifions le z-index pour que le zoom soit en premier plan */
  z-index: 1;
}